.App {
  /* text-align: center; */
  padding: 50px 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin-right:20px;
  height: 50px;
  width: 80px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: gainsboro;
  font-weight:bolder;
  cursor: pointer;
}
  